/*font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.nyc3.cdn.digitaloceanspaces.com/fonts/Virgil.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: "Excalifont";
  src: url("https://excalidraw.nyc3.cdn.digitaloceanspaces.com/fonts/Excalifont-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  min-height: 100dvh;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body h1 {
  font-family: "Excalifont", sans-serif;
  font-size: 3rem;
}

body img {
  height: 30vh;
  max-width: 95vw;
}

body a,
body p {
  text-decoration: none;
  font-size: 2rem;
}

body p {
  max-width: 50rem;
}

body a {
  color: black;
}

html {
  margin: 0;
  padding: 0;
}

.box {
  background-color: #06ad2a;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: "Excalifont", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  body a {
    color: white;
  }
}

.alert {
  background-color: red;
  color: white;
  padding: 1rem;
  max-width: min(620px, 90vw);
  margin-top: 2rem;
}
